@using _21_Display.CustomHtmlCustom
@model _21_Display.Models.tblEmployee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tblEmployee</legend>

    <div class="display-label">FullName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="display-label">Gender</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">Age</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Age)
    </div>

    <div class="display-label">HireDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireDate)
    </div>

    <div class="display-label">EmailAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">Salary</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salary)
    </div>

    <div class="display-label">PersonalWebSite</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonalWebSite)
    </div>

    <div class="display-label">Photo</div>
    <div class="display-field">
         @* <img src="@Url.Content(@Model.Photo)" alt="@Model.AlternateText" />*@
         @Html.Image(@Model.Photo, @Model.AlternateText)
    </div>

    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
